* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #222222;  
  --bg-color-light: #303030;
  --disabled-bg: #707070;
  --disabled-text: #909090;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.bt-standard {
  color: white;
  background-color: var(--bg-color);
  width: 5rem;
  border: none;
  padding: .5rem;
  cursor: pointer;
}

.bt-gameserver-item {
  width: 4rem;
}

.bt-standard:focus {
  outline: none;
}

.align-right {
  margin-left: auto; 
  margin-right: 0;
}

.bt-red {
  background-color: red;
}

.bt-green {
  background-color: #00ff00;
}

.bt-disabled {
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
}

.status-down {
  color: red;
}

.status-up {
  color: #00ff00;
}

.status-no-connection {
  color: gray;
}

.bt-add-server {
  height: 50%;
  aspect-ratio: 1/1;
  background: none;
  border: none;
  align-items: center;
  cursor: pointer;
  font-size: 3.5rem;  
  font-weight: lighter;
  outline: 0;
}

.loader {
  border: .3rem solid #f3f3f3;
  border-radius: 50%;
  border-top: .3rem solid var(--bg-color-light);
  height: 1rem;
  width: 1rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none; 
}

.logo {
  height: 75px;
  width: fit-content;
}