:root {
  --bg-color: #222222;
  --bg-color-light: #303030;
  --hover-color: white;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.bt-standard {
  color: white;
  background-color: var(--bg-color);
  width: 5rem;
  border: none;
  padding: .5rem;
  cursor: pointer;
}

.bt-standard:focus {
  outline: none;
}

.align-right {
  margin-left: auto; 
  margin-right: 0;
}

.bt-red {
  background-color: red;
}

.bt-green {
  background-color: #00ff00;
}


.status-down {
  color: red;
}

.status-up {
  color: #00ff00;
}

.status-no-connection {
  color: gray;
}