.sidebar {
    background-color: var(--bg-color);
    color: white;
    margin: 0;
    width: 17rem;
    height: 100vh;
    overflow: hidden;
}

.sidbar-item-container {
    margin: auto;
    margin-top: 17vh;
    list-style: none;
}


.sidebar-item {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.sidebar-item:hover{
    background-color: var(--bg-color-light);
}

.sidebar-text {
    text-align: center;
    margin-right: auto;
    margin-left: 5%;
}

.sidebar-item:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.selected {
    font-weight: bold;
    background-color: #353535;
}