.footer-container {
    background-color: #222;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.footer-content {
    font-size: 1rem;
    width: 90%;
    margin: auto;
    display: flex;
    flex-grow: 1;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
}

.github-plug {
    display: flex;
}

.github-plug a {
    font-size: 1rem;
}