/* .gameserver-list-container {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-around;
} */

.gameserver-list-container {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gameserver-item-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: fit-content;
    margin: 17px 5%;
    min-height: 140px;
    position: relative;
}

.gameserver-item-game {
    background-color: var(--bg-color);
    color: white;
    border: #222222 2px solid;
}

.gameserver-item-add {
    border: #222222 2px dashed;
    align-items: center;
    justify-content: center;
}

img {
    width: 98px;
}

.gameserver-item-header {
    display: flex;
    align-items: center;
}

.gameserver-item-operator {
    padding: 1% 1%;
    display: flex;
    height: 100%;
    background-color: white;
    color: black;
    align-items: center;
}

.gameserver-item-status {
    margin-left: 7px;
    color: #00ff00;
}

.bt-gameserver-share{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
}

.icon-share{
    font-size: 15px;
    color: white;
}

.modal-container {
    background-color: white;
    width: clamp(400px, 20%, 20%);
    /* position: absolute; */
    margin: 100px auto auto;
    outline: 0;
    padding: 1% 2%;
    border-radius: 5px;
}

.modal-add-server-container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.form-header {
    font-size: 1.3rem;
    font-weight: 600;
}