.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.actual-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
}

.content-style {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.children {
    flex-grow: 1;
}

.nav {
    width: 100wh;
}
