.sidebar-item {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-item:hover {
    background-color: var(--bg-color-light);
    cursor: pointer;
}

  .text-hidden {
        overflow: hidden;
  }

  .sidebar-text {
    margin-right: auto;
    font-size: 1.3rem;
  }

  a {
    text-decoration: none;
    color: white;
      font-size: 1.3rem;
  }