.topbar {
    margin: 0;
    width: 100%;
    background-color: var(--bg-color);
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    min-height: 50px;
    height: 6rem;
}

.servername {
    text-align: center;
    margin: auto;
    padding: auto;
    font-size: 2em;
    width: fit-content;
}