.topbar {
    margin: 0;
    width: 100%;
    background-color: var(--bg-color);
    color: #ffffff;
}

.topbar h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.servername {
    text-align: center;
    margin: auto;
    padding: auto;
    font-size: 2rem;
    width: fit-content;
}